---
import SidePageNavigation from "../../../components/SidePageNavigation.astro";
import RootLayout from "../../../layouts/RootLayout.astro";
const pageTitle = "Construction and Demolition Debris";
---

<RootLayout pageTitle={pageTitle}>
  <SidePageNavigation>
    <p class="usa-prose">
      Construction and Demolition (C&D) debris consists of the waste generated
      during construction, renovation, and demolition projects. Covering a wide
      array of materials, this waste often contains bulky, heavy materials,
      including concrete, wood, asphalt (from roads and roofing shingles),
      gypsum (the main component of drywall), metals, bricks, plastics, and
      plant materials from site clearing. C&D debris also includes salvaged
      building components such as doors, windows, and plumbing fixtures.
    </p>
    <p>
      See Facilities Infrastructure for detailed information on Asbestos and
      Landfills for disposal of Asbestos.
      <!-- TODO: Add a link here -->
    </p>
    <h2>Summary of Federal Requirements</h2>
    <p>
      Materials comprising C & D debris can sometimes be contaminated by
      undesirable components and/or toxic compounds such as asbestos, lead-based
      paint (LBP), varnish, creosote and adhesives leading to the need for
      potentially have hazardous waste to dispose of from the site.
    </p>
    <p>
      If possible, prior to demolishing a structure, you should remove these
      undesirable components since they could cause the debris to require
      handling as a special or hazardous waste.
    </p>
    <p>
      For new construction, waste can be reduced during the purchasing stage by:
    </p>
    <ul class="usa-list">
      <li>
        Improving the accuracy of estimating procedures to ensure that the
        correct amount of each material is brought to the site.
      </li>
      <li>
        Negotiating with suppliers to buy back unused materials. Ask for their
        assistance to identify materials that contain the least amount of
        hazardous products. In addition, ask suppliers to deliver supplies on
        returnable pallets and containers. This will reduce MSW costs for the
        contractor.
      </li>
    </ul>
    <p>For new construction, waste can be reduced onsite by:</p>
    <ul class="usa-list">
      <li>
        Improving storing and handling procedures to reduce and prevent
        materials loss from weather and other damage.
      </li>
      <li>
        Salvaging reusable items, such as windows and doors for remodeling
        projects. Check with local recycling organizations and/or use the
        Earth911.com "Search" function to identify locations for donating
        reusable items.
      </li>
      <li>
        Segregating wood, wallboard and other biodegradable materials and send
        them to the composting facility onsite.
      </li>
    </ul>
    <h2>Summary of State Requirements</h2>
    <p>
      The disposal of C&D waste as a waste category is primarily a state
      regulated issue. For example Minnesota and New York, for example, have
      developed extensive listings of types of C & D debris prohibited from
      landfill disposal.
    </p>
    <p>
      State-by-state guidance concerning construction and demolition debris can
      be found at CICA's C&D Debris State Resources Tool.
      <!-- TODO: Add a link here? -->
    </p>
    <h3>Laws and Statutes</h3>
    <p>Resource Conservation and Recovery Act, Subtitle D</p>
    <!-- TODO: Add a link here? -->
  </SidePageNavigation>
</RootLayout>
