---
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";
import ProgramPage from "../../layouts/ProgramPage.astro";
import { sideBarForPrograms } from "../../constants.ts";
import { sideBarConstants } from "../../constants.ts";

const acquisitionPosts = await getCollection("programPost", ({ data }) => {
  return data.programArea === "Acquisition";
});

const pageTitle = "Acquisitions";

const acquisitionAreas = [
  {
    title: "Regulations, Guidance, and Policy",
    url: "/acquisition",
    children: [
      { title: "Executive Orders", url: "" },
      { title: "Laws, Regulations, and Agreements", url: "" },
      { title: "Guidance", url: "" },
    ],
  },

  {
    title: "Supporting Information and Tools",
    url: "",
    children: [
      { title: "Databases and Software Tools", url: "" },
      { title: "Directories, Catalogs, and Newsletters", url: "" },
      { title: "Libraries and Repositories", url: "" },
      { title: "Organizations and Programs", url: "" },
    ],
  },

  {
    title: "Lessons Learned",
    url: "",
    children: [
      { title: "Award Winners", url: "" },
      { title: "Case Studies", url: "" },
      { title: "Contract and Procurement Language", url: "" },
      { title: "Purchasing Guides", url: "" },
    ],
  },

  { title: "Training, Presentations, and Briefings", url: "" },
  { title: "Conferences and Events", url: "" },
];
---

<ProgramPage
  programAreas={acquisitionAreas}
  posts={acquisitionPosts}
  pageTitle={pageTitle}
>
  <p>
    Included in the Acquisition Program Area are links to, and highlights from
    programs which enable agencies to meet these goals include: Environmentally
    Preferable Purchasing (EPP), Comprehensive Procurement Guidelines (CPG),
    ENERGY STAR?, the Green Procurement Program (GPP), and the Federal Energy
    Management Program (FEMP).
  </p>
  <p>
    When future Executive Orders (EOs) and Implementing Instructions for those
    EOs are released addressing federal facilities the text on this page will be
    updated.
  </p>
  <p>
    Links to statutory requirements, reporting mechanisms, and additional CEQ
    guidance is provided below.
  </p>
</ProgramPage>
