---
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";
import ProgramPage from "../../layouts/ProgramPage.astro";
import { sideBarForPrograms } from "../../constants.ts";
import { sideBarConstants } from "../../constants.ts";

const sustainabilityPosts = await getCollection("programPost", ({ data }) => {
  return data.programArea === "Sustainability";
});

const pageTitle = "Sustainability";

const sustainabilityAreas = [
  {
    title: "Regulations, Guidance, and Policy",
    url: "/sustainability",
    children: [
      { title: "Federal Executive Orders and Legislation", url: "" },
      { title: "International Agreements", url: "" },
      { title: "Federal Agreements and Guidance", url: "" },
      { title: "Sustainability Integration or Crosswalks", url: "" },
    ],
  },

  {
    title: "Supporting Information and Tools",
    url: "",
    children: [
      { title: "Databases and Software Tools", url: "" },
      { title: "Directories, Catalogs, and Newsletters", url: "" },
      { title: "Libraries and Repositories", url: "" },
      { title: "Research and Technical Reports", url: "" },
      { title: "Organizations", url: "" },
    ],
  },

  {
    title: "Lessons Learned",
    url: "",
    children: [
      { title: "Award Winners", url: "" },
      { title: "Case Studies", url: "" },
      { title: "General", url: "" },
      { title: "Federal Facilities", url: "" },
      { title: "Infrastructure", url: "" },
      { title: "Municipalities", url: "" },
      { title: "Property Disposal", url: "" },
    ],
  },

  { title: "Training, Presentations, and Briefings", url: "" },
  { title: "Conferences and Events", url: "" },
];
---

<ProgramPage
  programAreas={sustainabilityAreas}
  posts={sustainabilityPosts}
  pageTitle={pageTitle}
>
  <p>
    The Sustainability Program Area includes the latest guidance, examples, and
    information resources to aid Federal facilities in developing and
    maintaining sustainable facilities and helping to develop and promote
    sustainable practices within their environmental programs or activities.
  </p>
  <p>
    When future Executive Orders (EOs) and Implementing Instructions for those
    EOs are released addressing federal facilities the text on this page will be
    updated.
  </p>
  <p>
    Links to statutory requirements, reporting mechanisms, and additional CEQ
    guidance is provided below.
  </p>
</ProgramPage>
