---
import SidePageNavigation from "../../../components/SidePageNavigation.astro";
import RootLayout from "../../../layouts/RootLayout.astro";
const pageTitle = "General Conformity Rule";
---

<RootLayout pageTitle={pageTitle} showBreadcrumb={true}>
  <SidePageNavigation>
    <p>
      Under the General Conformity Rule, federal agencies must work with State,
      Tribal and local governments in a air quality nonattainment or maintenance
      areas to ensure that federal actions conform to the initiatives
      established in the applicable state implementation plan (SIP) or tribal
      implementation plan.
    </p>
    <h2>Summary of Federal Requirements Conformity</h2>
    <p>
      Conformity determinations are required when a department, agency or
      instrumentality of the Federal Government engages in, supports in any way
      or provides financial assistance for, license or permit, or approve any
      activity which does not conform to an applicable implementation plan
      (i.e., the State Implementation Plan [SIP]). EPA guidance should be
      consulted as well as the regulations pertaining to General Conformity.
    </p>
    <!-- TODO: add a link here? -->
    <h3>Conformity Determination Process</h3>
    <p>
      A Federal agency making a conformity determination under must provide to
      the appropriate EPA Regional Office(s), State and local air quality
      agencies and, where applicable, affected Federal land managers, the agency
      designated under section 174 of the Act and the MPO a 30 day notice which
      describes the proposed action and the Federal agency's draft conformity
      determination on the action.
    </p>
    <p>
      The Federal agency must notify the appropriate EPA Regional Office(s),
      State and local air quality agencies and, where applicable, affected
      Federal land managers, the agency designated under section 174 of the CAA
      and the MPO within 30 days after making a final conformity determination.
    </p>
    <p>
      A Federal agency must make public its draft conformity determination by
      placing a notice by prominent advertisement in a daily newspaper of
      general circulation in the area affected by the action and by providing 30
      days for written public comment prior to taking any formal action on the
      draft determination. This comment period may be concurrent with any other
      public involvement, such as occurs in the NEPA process.
    </p>
    <p>
      Upon request by any person regarding a specific Federal action, a Federal
      agency must make available for review its draft conformity determination
      with supporting materials which describe the analytical methods and
      conclusions relied upon in making the applicability analysis and draft
      conformity determination.
    </p>
    <p>
      A Federal agency must document its response to all the comments received
      on its draft conformity determination and makes the comments and responses
      available, upon request by any person regarding a specific Federal action,
      within 30 days of the final conformity determination.
    </p>
    <p>
      A Federal agency must make public its final conformity determination for a
      Federal action by placing a notice by prominent advertisement in a daily
      newspaper of general circulation in the area affected by the action within
      30 days of the final conformity determination.
    </p>
    <h3>Conformity Determination Requirements</h3>
    <p>
      When undertaking a Federal actions not related to activities developed,
      funded, or approved under the Federal Transit Act, a conformity
      determination is required for each criteria pollutant or precursor where
      the total of direct and indirect emissions of the criteria pollutant or
      precursor in a nonattainment or maintenance area caused by a Federal
      action would equal or exceed any of the following rates:
    </p>
    <h4>Rates in nonattainment area (NAA)</h4>
    <ul class="usa-list">
      <li>ozone (VOCs or NOX), serious NAA's: 50 tons/yr</li>
      <li>ozone (VOCs or NOX), severe NAA's: 25 tons/yr</li>
      <li>ozone (VOCs or NOX), extreme NAA's: 10 tons/yr</li>
      <li>other ozone NAA's outside an ozone transport region: 50 tons/yr</li>
      <li>
        other ozone NAA's inside an ozone transport region, VOC: 50 tons/yr
      </li>
      <li>
        other ozone NAA's inside an ozone transport region, NOX: 100 tons/yr
      </li>
      <li>carbon monoxide, all NAA's: 100 tons/yr</li>
      <li>SO2 or NO2, All NAA's: 100 tons/yr</li>
      <li>PM-10, moderate NAA's: 100 tons/yr</li>
      <li>PM-10, serious NAA's: 70 tons/year</li>
      <li>PM 2.5, direct emissions: 100 tons/yr</li>
      <li>PM 2.5, SO2: 100 tons/yr</li>
      <li>
        PM 2.5, NOX (unless determined not to be a significant precursor): 100
        tons/yr
      </li>
      <li>
        PM 2.5, VOC or ammonia (if determined to be significant precursor): 100
        tons/yr
      </li>
      <li>Pb, all NAA's: 25 tons/yr.</li>
    </ul>
    <h4>Rates in maintenace areas</h4>
    <ul class="usa-list">
      <li>ozone (NOX, SO2, or NO2), all maintenance areas: 100 tons/yr</li>
      <li>
        ozone (VOCs), maintenance area inside an ozone transport region: 50
        tons/yr
      </li>
      <li>
        ozone (VOCs) maintenance area outside an ozone transport region: 100
        tons/yr
      </li>
      <li>carbon monoxide, all maintenance areas: 100 tons/yr</li>
      <li>PM-10, all maintenance areas: 100 tons/yr</li>
      <li>PM 2.5, direct emissions: 100 tons/yr</li>
      <li>PM 2.5, SO2: 100 tons/yr</li>
      <li>
        PM 2.5, NOX (unless determiend not to be a significant precursor): 100
        tons/yr
      </li>
      <li>
        PM.2.5, VOC or ammonia (if determiens to be significant precursors): 100
        tons/yr
      </li>
      <li>Pb, all maintenance areas: 25 tons/yr.</li>
    </ul>
    <p>
      A determination that an action is in conformance with the applicable
      implementation plan does not exempt the action from any other requirements
      of the applicable implementation plan, NEPA, or the CAA.
    </p>
    <!-- TODO: Add a link here? -->
    <h3>Conformity Status</h3>
    <p>
      The conformity status of a Federal action automatically lapses 5 years
      from the date a final conformity determination is reported, unless the
      Federal action has been completed or a continuous program has been
      commenced to implement that Federal action within a reasonable time.
      Ongoing Federal activities at a given site showing continuous progress are
      not new actions and do not require periodic redeterminations so long as
      such activities are within the scope of the final conformity
      determination. If, after the conformity determination is made, the Federal
      action is changed so that there is an increase in the total of direct and
      indirect emissions, above the regulatory minimum levels, a new conformity
      determination is required.
    </p>
    <h3>Exemptions from Conformity Determination</h3>
    <p>
      The requirement for conformity determination does not apply to the
      following Federal actions:
    </p>
    <ul class="usa-list">
      <li>
        actions where the total of direct and indirect emissions are below the
        specified emissions levels
      </li>
      <li>
        actions which would result in no emissions increase or an increase in
        emissions that is clearly de minimis
      </li>
      <li>
        actions where the emissions are not reasonably foreseeable, such as the
        following:
      </li>
      <ul class="usa-list">
        <li>
          initial Outer Continental Shelf lease sales which are made on a broad
          scale and are followed by exploration and development plans on a
          project level
        </li>
        <li>
          electric power marketing activities that involve the acquisition, sale
          and transmission of electric energy
        </li>
      </ul>
      <li>
        actions which implement a decision to conduct or carry out a conforming
        program such as prescribed burning actions which are consistent with a
        conforming land management plan.
      </li>
    </ul>
    <p>
      A conformity determination is not required for the following Federal
      actions (or portion thereof):
    </p>
    <ul class="usa-list">
      <li>
        the portion of an action that includes major new or modified stationary
        sources that require a permit under the new source review (NSR) program
        or the prevention of significant deterioration (PSD) program
      </li>
      <li>
        actions in response to emergencies or natural disasters such as
        hurricanes, earthquakes, etc., which are commenced on the order of hours
        or days after the emergency or disaster and, if applicable, which meet
        the requirements for Federal actions which are part of a continuing
        response
      </li>
      <li>
        research, investigations, studies, demonstrations, or training (unless
        otherwise exmpted) where no environmental detriment is incurred and/or,
        the particular action furthers air quality research, as determined by
        the State agency primarily responsible for the applicable SIP
      </li>
      <li>
        alteration and additions of existing structures as specifically required
        by new or existing applicable environmental legislation or environmental
        regulations (e.g., hush houses for aircraft engines and scrubbers for
        air emissions)
      </li>
      <li>
        direct emissions from remedial and removal actions carried out under
        CERCLA (and associated regulations to the extent such emissions either
        comply with the substantive requirements of the PSD/NSR permitting
        program or are exempted from other environmental regulation under the
        provisions of CERCLA and applicable regulations issued under CERCLA.)
      </li>
    </ul>
    <h3>Presumption of Conformity</h3>
    <p>
      Federal agencies meet the following criteria for establishing activities
      that are presumed to conform by fulfilling one of the following
      requirements:
    </p>
    <ul class="usa-list">
      <li>
        clearly demonstrate, using appropriate methods, that the total of direct
        and indirect emissions from the type of activities which would be
        presumed to conform would not:
      </li>
      <ul class="usa-list">
        <li>
          cause or contribute to any new violation of any standard in any area
        </li>
        <li>
          interfere with provisions in the applicable SIP for maintenance of any
          standard
        </li>
        <li>
          increase the frequency or severity of any existing violation of any
          standard in any area
        </li>
        <li>
          delay timely attainment of any standard or any required interim
          emission reductions or other milestones in any area including, where
          applicable, emission levels specified in the applicable SIP for
          purposes of one of the following:
        </li>
        <ul class="usa-list">
          <li>a demonstration of reasonable further progress</li>
          <li>a demonstration of attainment</li>
          <li>a maintenance plan</li>
        </ul>
      </ul>
      <li>
        the Federal agency provides documentation that the total of direct and
        indirect emissions from such future actions would be below the emission
        rates for a conformity determination, based, for example, on similar
        actions taken over recent years.
      </li>
    </ul>
    <p>
      Additionally, the following procedures must be followed to presume that
      activities will conform:
    </p>
    <ul class="usa-list">
      <li>
        the Federal agency identifies through publication in the Federal
        Register its list of proposed activities that are presumed to conform
        and the basis for the presumptions
      </li>
      <li>
        the Federal agency notifies the appropriate EPA Regional Office(s),
        State and local air quality agencies and, where applicable, the agency
        designated under section 174 of the Act and the MPO and provides at
        least 30 days for the public to comment on the list of proposed
        activities presumed to conform
      </li>
      <li>
        the Federal agency documents its response to all the comments received
        and makes the comments, response, and final list of activities available
        to the public upon request
      </li>
      <li>
        the Federal agency publishes the final list of activities in the Federal
        Register.
      </li>
    </ul>
    <p>
      Where an action otherwise presumed to conform is a regionally significant
      action or does not meet the criteria for establishing activities that are
      presumed to conform, that action shall not be presumed to conform.
    </p>
    <h3>Transportation</h3>
    <p>
      Conformity determinations for Federal actions related to transportation
      plans, programs, and projects developed, funded, or approved under title
      23 U.S.C. or the Federal Transit Act (49 U.S.C. 1601 et seq.) are not
      required to meet the conformity determination requirements under the Clean
      Air Act. Instead they must meet the procedures and criteria of 40 CFR 51,
      subpart T.
    </p>
    <h2>Summary of State Requirements</h2>
    <p>
      The Federal conformity rules under 40 CFR 93, Subpart B, in addition to
      any existing applicable State requirements, establish the conformity
      criteria and procedures necessary to meet the Clean Air Act requirements
      until such time as the required conformity SIP revision is approved by
      EPA.
    </p>
    <p>
      The following states have had their conformity rules approved by EPA:
      Alabama, Alaska, Arizona, California*, Colorado, District of Columbia,
      Delaware, Illinois, Iowa, Indiana, Kansas, Kentucky, Louisiana, Maine,
      Maryland, Michigan, Minnesota, Missouri, Montana, Nebraska, New Hampshire,
      New Mexico, Ohio, Oregon, South Carolina, Texas, Virginia, West Virginia,
      and Wyoming.
    </p>
    <p>
      Additionally, EPA has accepted the SIP plans for these areas in
      California: South Coast AQMD, Santa Barbara County APCD, San Joaquin
      Unified APCD, Yolo-Solano AQMD, Ventura County APCD, San Diego APCD,
      Sacramento APCD, Placer County APCD, Monterey Bay Unified APCD, Mojave
      AQMD, Feather River AQMD, Imperial County APCD, Great Basin Unified APCD,
      El Dorado County APCD, Butte County APCD, and Bay Area AQMD.
    </p>
    <h3>Laws and Statutes</h3>
    <p>Clean Air Act</p>
    <!-- TODO: Add a link here? -->
  </SidePageNavigation>
</RootLayout>
