---
import SidePageNavigation from "../../../components/SidePageNavigation.astro";
import RootLayout from "../../../layouts/RootLayout.astro";
const pageTitle = "Permits";
---

<RootLayout pageTitle={pageTitle} showBreadcrumb={true}>
  <SidePageNavigation>
    <p>
      Depending on the location of the source and what the source emits, permits
      to construct and/or operate sources of air emissions are needed. Operating
      permits may be referred to as a Title V permit.
    </p>
    <h2>Summary of Federal Requirements</h2>
    <!-- TODO: add a link here? -->
    <h3>Operating Permits</h3>
    <p>
      Owners/operators of major sources some minor sources are required to apply
      for an operating permit (i.e., a Title V Permit). What constitutes a major
      source varies according to what type of permit is involved, the
      pollutant(s) being emitted, and the attainment designation of the area
      where the source is located. In general, a source is major if its
      emissions exceed certain thresholds that are defined in terms of tons per
      year. For example, under Title V of the Clean Air Act, any source that
      emits or has the potential to emit 100 tons per year or more of any
      criteria air pollutant is a major source and must obtain a Title V
      operating permit.
    </p>
    <p>
      The purpose of title V permits is to reduce violations of air pollution
      laws and improve enforcement of those laws. Title V permits typically:
    </p>
    <ul class="usa-list">
      <li>
        record in one document all of the air pollution control requirements
        that apply to the source. This gives members of the public, regulators,
        and the source a clear picture of what the facility is required to do to
        keep its air pollution under the legal limits.
      </li>
      <li>
        require the source to make regular reports on how it is tracking its
        emissions of pollution and the controls it is using to limit its
        emissions. These reports are public information, and you can get them
        from the permitting authority.
      </li>
      <li>
        add monitoring, testing, or record keeping requirements, where needed to
        assure that the source complies with its emission limits or other
        pollution control requirements.
      </li>
      <li>
        require the source to certify each year whether or not it has met the
        air pollution requirements in its title V permit. These certifications
        are public information.
      </li>
      <li>
        make the terms of the title V permit federally enforceable. This means
        that EPA and the public can enforce the terms of the permit, along with
        the State.
      </li>
    </ul>
    <h3>Construction Permits</h3>
    <p>
      Construction of new stationary sources of air pollution or major
      modifications of existing sources require a construction permit which is
      also known as a New Source Review (NSR) permit. NSR permits require the
      installation and maintenance of pollution control devices. Large sources
      in polluted areas must reduce pollution or buy credits from another
      company that has reduced its emissions.
    </p>
    <h2>Summary of State Requirements</h2>
    <p>
      Most permits are issued by State and local permitting authorities. Title V
      permits are often called part 70 permits because the regulations that
      establish minimum standards for State permit programs are found in the
      Code of Federal Regulations at 40 CFR part 70.
      <!-- TODO: Add a link here? -->
    </p>
    <p>
      State-by-state guidance concerning air permits can be found at CICA's
      State and Regional Regulatory Information Tool.
      <!-- TODO: Add a link here? -->
    </p>
    <p>
      State-by-state guidance concerning air emissions can be found at ENVCAP's
      Air Pollution State Resource Locator.
      <!-- TODO: Add a link here? -->
    </p>
    <h3>Laws and Statutes</h3>
    <p>The Clean Air Act</p>
    <!-- TODO: Add a link here? -->
  </SidePageNavigation>
</RootLayout>
