---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("programPost");
---

<BaseLayout>
  {allPosts.map((post) => <p>hello {post.id}</p>)}
</BaseLayout>
