---
import { getCollection } from "astro:content";
import RootLayout from "../layouts/RootLayout.astro";

const allPosts = await getCollection("programPost");
---

<RootLayout>
  {allPosts.map((post) => <p>hello {post.id}</p>)}
</RootLayout>
