---
const primaryAreas = [
  { title: "Acquisition", url: "/programs/acquisition" },
  { title: "Chemical Management", url: "/programs/chemical" },
  { title: "Cleanup", url: "/programs/cleanup" },
  { title: "Climate Resilience", url: "" },
  { title: "Cultural Resources", url: "" },
  { title: "Electronics Stewardship", url: "" },
  { title: "EMS", url: "" },
  { title: "Energy", url: "" },
  { title: "Env. Compliance", url: "" },
  { title: "Greenhouse Gases", url: "" },
  { title: "High Performance Bldgs", url: "" },
  { title: "Natural Resources", url: "" },
  { title: "NEPA", url: "" },
  { title: "PFAS", url: "" },
  { title: "Pollution Prevention", url: "" },
  { title: "Sustainability", url: "" },
  { title: "Transportation", url: "" },
  { title: "Water Efficiency", url: "" },
];
---

<header class="usa-header usa-header--basic usa-header--megamenu">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo">
        <img
          width="100"
          height="100"
          src="/Atom.jpg"
          alt="an diagram of an atom"
        />
        <em class="usa-logo__text"
          ><a href="/" title="FedCenter">FedCenter</a>
        </em>
        <button type="button" class="usa-menu-btn">Menu</button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
          <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
        </button>
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link usa-current"
              aria-expanded="false"
              aria-controls="basic-mega-nav-section-one"
            >
              <span>What's New</span>
            </button>
            <div
              id="basic-mega-nav-section-one"
              class="usa-nav__submenu usa-megamenu"
            >
              <div class="grid-row grid-gap-4">
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">At FedCenter</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Regulatory Watch</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">Upcoming Events</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="basic-mega-nav-section-two"
            >
              <span>Program Areas</span>
            </button>
            <div
              id="basic-mega-nav-section-two"
              class="usa-nav__submenu usa-megamenu"
            >
              <div class="grid-row grid-gap-4">
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);"
                        >&lt;A very long navigation link that goes onto two
                        lines&gt;</a
                      >
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="basic-mega-nav-section-three"
            >
              <span>Assistance</span>
            </button>
            <div
              id="basic-mega-nav-section-three"
              class="usa-nav__submenu usa-megamenu"
            >
              <div class="grid-row grid-gap-4">
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);"
                        >&lt;A very long navigation link that goes onto two
                        lines&gt;</a
                      >
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="usa-nav__primary-item">
            <button
              type="button"
              class="usa-accordion__button usa-nav__link"
              aria-expanded="false"
              aria-controls="basic-mega-nav-section-four"
            >
              <span>Events</span>
            </button>
            <div
              id="basic-mega-nav-section-four"
              class="usa-nav__submenu usa-megamenu"
            >
              <div class="grid-row grid-gap-4">
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);"
                        >&lt;A very long navigation link that goes onto two
                        lines&gt;</a
                      >
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
                <div class="usa-col">
                  <ul class="usa-nav__submenu-list">
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                    <li class="usa-nav__submenu-item">
                      <a href="javascript:void(0);">&lt;Navigation link&gt;</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="usa-nav__primary-item">
            <a href="javascript:void(0);" class="usa-nav-link"
              >&lt;Simple link&gt;</a
            >
          </li>
        </ul>
        <section aria-label="Search component">
          <form class="usa-search usa-search--small" role="search">
            <label class="usa-sr-only" for="search-field">Search</label>
            <input
              class="usa-input"
              id="search-field"
              type="search"
              name="search"
            />
            <button class="usa-button" type="submit">
              <img
                src="/assets/img/usa-icons-bg/search--white.svg"
                class="usa-search__submit-icon"
                alt="Search"
              />
            </button>
          </form>
        </section>
      </nav>
    </div>
  </div>
</header>
