---
import SidePageNavigation from "../../../components/SidePageNavigation.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
const pageTitle = "Site Evaluation & Response";
---

<BaseLayout pageTitle={pageTitle} showBreadcrumb={true}>
  <SidePageNavigation>
    <p>
      When there is a hazardous substance contaminated site which might require
      CERCLA response actions, a removal site evaluation is required to be done.
      What actions are required to be taken are based on the results of the site
      evaluation.
      <!-- TODO: Add a link here -->
    </p>
    <h2>Summary of Federal Requirements</h2>
    <p>
      As an alternative to a removal site evaluation, a removal preliminary
      assessment may be performed based on readily available information in
      response to a petition by potentially affected people.
    </p>
    <h3 class="site-preview-heading margin-0">
      In order to terminate a removal site evaluation and not take action,
      determination must be made that:
    </h3>
    <ul class="usa-list">
      <li>there is no release;</li>
      <li>the source is neither a vessel or a facility;</li>
      <li>
        the release involves neither a hazardous substance nor a pollutant that
        may present an imminent and substantial danger to the public health or
        welfare;
      </li>
      <li>
        the amount, quantity, or concentration released does not warrant Federal
        response;
      </li><li>
        a party responsible for the release, or any other person, is providing
        appropriate response, and on-scene monitoring by the government is not
        required; or
      </li>
      <li>
        the release is one of the following which is subject to limited
        response:
      </li>
      <ul>
        <li>
          it is of a naturally occurring substance in its unaltered form, or
          altered solely through naturally occurring processes or phenomena,
          from a location where it is naturally found
        </li>
        <li>
          it is from products that are a part of the structure of, and result in
          exposure within, residential buildings or business or community
          structures
        </li>
        <li>
          it is into public or private drinking water supplies due to
          deterioration of the system of ordinary use
        </li>
      </ul>
    </ul>
    <h3 class="site-preview-heading margin-0">When Action is needed</h3>
    <p>
      When it is determined that removal actions are appropriate, the actions
      should as soon as possible. If there is a planning period of at least 6 mo
      before onsite activities are initiated, an engineering evaluation/cost
      analysis (EE/CA) or its equivalent must be done and sampling and analysis
      plans developed if environmental samples are going to be collected.
    </p>
    <p>
      A remedial preliminary assessment (PA) must be done for all sites listed
      in CERCLIS. Note that in 2014, the Superfund Program implemented a new
      information system, the Superfund Enterprise Management System (SEMS). As
      of June 2016 efforts to migrate data to SEMS and to enhance data quality
      control are in the final stages but EPA will continue to rely on the final
      CERCLIS data set (dated November 12, 2013, which reflects official end of
      Fiscal Year 2013 Program progress) for public reporting until a complete
      and accurate SEMS data set is available. Further guidance on how to obtain
      the information needed for determining whether further action at a site is
      necessary or if a site can be removed from further consideration for
      response is found in the Federal Facilities Remedial Preliminary
      Assessment Summary Guide, dated 21 July 2005.
      <!-- TODO: Add a link here -->
    </p>
    <p>
      If the PA is inconclusive, a remedial SI must be done in order to
      eliminate from further consideration releases that pose no significant
      threat, determine the potential need for removal action, and collect or
      develop additional data to evaluate the release. Further guidance on how
      to obtain sufficient information for Site Investigations (SIs) under the
      Comprehensive Environmental Response, Compensation, and Liability Act
      (CERCLA) to meet the requirements outlined in the National Contingency
      Plan (NCP) Federal Facilities Remedial Site Investigation Summary Guide
      dated 21 July 2005.
      <!-- TODO: Add a link here -->
    </p>
    <p>
      A remedial investigation/feasibility study (RI/FS) is done to assess site
      conditions and evaluate alternatives.
    </p>
    <p>
      There are extensive details in the regulations about the contents of a PA,
      a RI, or a FS. Depending on the action needed, engineering and
      institutional controls (i.e. land use controls [LUC]) may be used as
      appropriate for short-and long-term management to prevent or limit
      exposure hazardous substances, pollutants, or contaminants.
    </p>
    <p>
      The remedial design/remedial action (RD/RA) is required to be in
      conformance with the remedy selected and set forth in the ROD or other
      decision document
    </p>
    <p>Removal actions include the following:</p>
    <ul class="usa-list">
      <li>
        fences, warning signs, or other security and site control precautions
      </li>
      <li>drainage controls</li>
      <li>
        stabilization of berms, dikes, or impoundments or drainage or closing of
        lagoons
      </li>
      <li>capping of contaminated soils or sludges</li>
      <li>
        using chemicals or other materials to retard the spread of the
        contamination
      </li>
      <li>
        excavation, consolidation, or removal of highly contaminated soils from
        drain age or other areas
      </li>
      <li>removal of drums, barrels, tanks or other bulk containers</li>
      <li>
        containment, treatment, disposal or incineration of hazardous materials
      </li>
      <li>provision of alternate water supply.</li>
    </ul>
    <h3>Documentation</h3>
    <p>Documentation of the removal site evaluation is required.</p>
    <p>
      An Administrative Record is required for all response actions taken under
      section 104 of CERCLA or sought, secured, or ordered administratively or
      judicially under section 106 of CERCLA as follows:
    </p>
    <ul class="usa-list">
      <li>
        remedial actions where a remedial investigation started after the
        promulgation of the regulations concerning the administrative record
      </li>
      <li>
        removal actions where the action memorandum is signed after the
        promulgation of these requirements.
      </li>
    </ul>
    <p>The Administrative Record must be publicly accessible.</p>
    <h3>Community Relations</h3>
    <p>
      Depending on how long a time period there is between determination that
      removal is appropriate and the start of the onsite removal activity,
      different public relations activities are required.
    </p>
    <p>
      If there is less than 6 months, a notice of availability of the
      administrative record must be published in a major local newspaper of
      general circulation within 60 day of the start of removal activity; a
      public comment period of not less than 30 days is provided from the time
      the administrative record file is made available for public inspection; a
      written response is prepared for significant comments.
    </p>
    <p>
      If there is more than 6 months, a notice of availability and brief
      description of the EE/CA must be published in a major local newspaper of
      general circulation; a reasonable opportunity of not less than 30 days is
      allowed for comments; written responses to comments are prepared.
    </p>
    <p>
      Additionally, if there is more than 6 months, prior to the completion of
      the EE/CA, local officials, community residents, public interest groups,
      or other interested parties must be interviewed to solicit their concerns
      and how they would like to be involved in the Superfund process; a formal
      CRP specifying actions that will be taken is developed; and at least one
      local information repository at or near the location of the response
      action is established no later than when the EE/CA approval memo is
      signed.
    </p>
    <p>
      If remedial activities are undertaken pursuant to CERCLA section 104 and
      to section 106 or section 122 consent orders or decrees, or section 106
      administrative orders:
    </p>

    <ul>
      <li>
        local officials, community residents, public interest groups, or other
        interested parties must be interviewed to solicit their concerns and how
        they would like to be involved in the Superfund process;
      </li>
      <li>a formal CRP is prepared specifying actions that will be taken;</li>
      <li>
        at least one local information repository at or near the location of the
        response action is established, and
      </li>
      <li>
        the community is informed of the availability of technical assistance
        grants.
      </li>
    </ul>
    <p>
      Once a proposed remediation plan is developed a number of community
      relations activities are required, including, but not limited to:
    </p>
    <ul>
      <li>
        publication of a notice of availability of the proposed plan in a major
        local newspaper of general circulation
      </li>
      <li>
        the proposed plan and supporting analysis and information are made
        available in the administrative record
      </li>
      <li>at least 30 days is provided for oral and written comments</li>
      <li>
        the opportunity for a public meeting is provided during the public
        comment period at or near the site at issue
      </li>
      <li>
        creation of a transcript of the public meeting and the transcript is
        made available to the public
      </li>
      <li>
        preparation of a written summary of the significant comments,
        criticisms, and new relevant information submitted during the comment
        period and the lead agency's response to each.
      </li>
    </ul>
    <p>
      When the record of decision (ROD)/decision document (DD) is signed, a
      notice must be published in a major local newspaper of general circulation
      and the ROD/DD made available for public inspection and copying at or near
      the facility prior to the start of any remedial activities. Note that a
      ROD is only appropriate for NPL, non-NPL sites still require a DD.
    </p>
    <h2>Summary of State Requirements</h2>
    <p>
      The states primarily regulate this type of a source through their permit
      programs or their stormwater programs.
    </p>
    <h3>Laws and Statutes</h3>
    <p>
      Comprehensive Environmental Response, Compensation, and Liability Act
      (CERCLA)
    </p>
    <!-- TODO: Add a link here? -->
  </SidePageNavigation>
</BaseLayout>
