---
import SidePageNavigation from "../../components/SidePageNavigation.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Facility Regulatory Tour";
const rootPath = "/facility-regulatory-tour/";
---

<BaseLayout pageTitle={pageTitle}>
  <SidePageNavigation>
    <h2>
      <a
        class="usa-link"
        href={import.meta.env.BASE_URL + rootPath + "air-emission-sources"}
        >Air Emission Sources</a
      >
    </h2>
    <p>
      Common sources of regulated air emissions are: heating and cooling
      systems, degreasers, steam generators (i.e., boilers), motor vehicles,
      turbines, wastewater treatment works, incinerators and fuel dispensing.
      The Clean Air Act Section 118(a) requires that each agency and employee of
      the Federal government comply with all Federal, State, interstate and
      local requirements respecting the control and abatement of air pollution
      in the same manner and the same extent as any non-governmental entity.
    </p>
    <h2>
      <a
        class="usa-link"
        href={import.meta.env.BASE_URL + rootPath + "cleanup-sites"}
        >Cleanup Sites</a
      >
    </h2>
    <p>
      The clean up or restoration of land, buildings and waterways which have
      previously been contaminated. This includes the remediation or disposal of
      the contaminated material, the technologies to be used in performing
      cleanup, and standards to prevent further contamination. An important
      partner for the cleanup of Federal facilities is the EPA's Federal
      Facilities Restoration and Reuse Office (FFRRO). For additional
      information specific to Federal Facilities, see the Compendium of Federal
      Facilities Cleanup Information
    </p>
    <h2>
      <a
        class="usa-link"
        href={import.meta.env.BASE_URL + rootPath + "construction-zones"}
        >Construction Zones</a
      >
    </h2>
    <p>
      Areas, sites, locations and facilities where construction, renovation, or
      deconstruction occur. Of special interest is the management of stormwater,
      construction debris, asbestos, and lead-based paint as well as the
      utilization of "green" construction options.
    </p>
    <h2>Facilities</h2>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Facility Infrastructure</a>
    </h3>
    <p>
      Facilities infrastructure maintenance addresses those support activities
      and processes that are a part of the operation and maintenance of a
      federal facility. This includes: painting, metal working, carpentry,
      lead-based paint, electrical, fabric care, heating and cooling systems,
      and asbestos.
    </p>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Grounds Maintenance</a>
    </h3>
    <p>
      Grounds maintenance activities that commonly take place at federal
      facilities include: landscaping, leaf and brush removal, pesticide and
      fertilizer application, lawn trimming and lawn mowing maintenance,
      composting, snow removal, and debris cleanup.
    </p>

    <h3><a class="usa-link" href="javascript:void(0);">Laboratories</a></h3>
    <p>
      A laboratory is a facility where the laboratory use of hazardous chemicals
      occurs. It is a workplace where relatively small quantities of hazardous
      chemicals are used on a non-production basis (29 CFR 1910.1450(b)). This
      can be a wet lab, a biology lab, a histology lab, a hematology lab, a dry
      lab, a necropsy lab, a water analysis lab, or a waste characterization lab
      to name a few possibilities.
    </p>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Medical Facilities</a>
    </h3>
    <p>
      Hospitals, clinics, dentists, veterinarians, and mortuaries all handle
      medical waste. But they are also subject to the same solid waste,
      pesticide application, hazardous waste, drinking water, and wastewater
      requirements other types of facilities must comply with.
    </p>

    <h2><a class="usa-link" href="javascript:void(0);">Storage Tanks</a></h2>
    <p>
      Storage tanks include aboveground and underground storage tanks. Regulated
      storage tanks might contain petroleum products, hazardous substances,
      hazardous waste, or used oil. This category does not include propane
      tanks.
    </p>
    <h2>
      <a class="usa-link" href="javascript:void(0);">Vehicle Maintenance</a>
    </h2>
    <p>
      Vehicle maintenance includes the maintenance of motor vehicles or heavy
      equipment regardless of whether it is Agency-owned or GSA-owned. Vehicle
      maintenance includes procedures such as changing oil, changing antifreeze,
      re-charging air conditioners, washing, rotating and balancing tires, as
      well as the complete reworking of airframes, engines, and avionics.
    </p>
    <h2>Waste</h2>
    <h3><a class="usa-link" href="javascript:void(0);">Landfills</a></h3>
    <p>
      Landfills include what are commonly known as sanitary landfills, dumps,
      and construction debris landfills as well as municipal solid waste
      landfills. These are areas where waste is sent for final disposal,
      including: solid waste, plant waste, household waste, and in some cases
      hazardous waste. The most common of these found on federal facilities are
      inadvertently created open dumps.
    </p>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Hazardous Waste Storage</a>
    </h3>
    <p>
      Hazardous waste is generated at nearly every federal facility. Common
      hazardous wastes include waste paint, waste solvents, waste adhesives,
      waste solder and spill cleanup waste.
    </p>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Solid Waste Storage</a>
    </h3>
    <p>
      Solid waste is generated at every federal facility in the forms of office
      trash (primarily paper and cardboard), food waste, plant waste, and
      garbage. Some federal facilities also generate medical waste in the form
      of infectious waste or pathological wastes. The process of renovating or
      constructing new facilities are also sources of large amounts of solid
      waste.
    </p>
    <h2>Water</h2>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Ports and Harbors</a>
    </h3>
    <p>
      Numerous federal agencies operate watercraft from various ports and
      harbors throughout the United States. These include the U.S. Navy, U.S.
      Coast Guard, NOAA. Fish and Wildlife Service, and the U.S. Army Corps of
      Engineers. Vessel types include warships, search and rescue vessels,
      research watercrafts, dredges, and dormitory boats. Typically the home
      ports for these watercraft have a variety of activities and facilities
      which impact the environment. This portion of the Facility Regulatory Tour
      addresses those shore activities and limited activities which take place
      in the water. It does not address environmental issues on the watercraft
      themselves.
    </p>
    <h3>
      <a class="usa-link" href="javascript:void(0);">Drinking Water Treatment</a
      >
    </h3>
    <p>
      Drinking water treatment includes the provision of water from sources
      other than the municipal drinking water system. This includes water
      provided at campgrounds, visitor centers, hiking trails, and housing as
      well as to an entire federal facility.
    </p>
    <h3>
      <a class="usa-link" href="javascript:void(0);"
        >Wastewater Treatment Facilities</a
      >
    </h3>
    <p>
      Wastewater is generated by every federal facility. It might include
      sanitary sewage, industrial wastewater, or even stormwater. Depending on
      the individual facility wastewater might be discharged to a
      publicly/federally owned treatment works, a sewage lagoon, a leach field,
      a septic system, a cesspool, or even a composting toilet.
    </p>
  </SidePageNavigation>
</BaseLayout>
